@model List<GetFeatureQueryResult>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="container">
    <h1>Öne Çıkanlar</h1>

    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Uzun Açıklama</th>
            <th>Kısa Açıklama</th>
            <th>Açıklama</th>
            <th>Görsel</th>
            <th>İşlemler</th>
        </tr>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@item.LongDescription</td>
                <td>@item.ShortDescription</td>
                <td>@item.LowerDescription </td>
                <td>@item.ImageUrl </td>
                <td>
                    <a href="/Feature/DeleteFeature/@item.FeatureID" class="btn btn-danger">Sil</a>
                    <a href="/Feature/UpdateFeature/@item.FeatureID" class="btn btn-info">Güncelle</a>
                </td>
            </tr>
        }

    </table>

    <br />
    <a href="/Feature/CreateFeature/" class="btn btn-primary">Yeni Öne Çıkan Ekleme Sayfası</a>
</div>

